.header
{
    position: relative;
    margin-left: 40%;
    top: 120px;
    font-size: 80px;
}

.addbox
{
    position: relative;
    width: 400px;
    top: 190px;
    margin-left: 40%;
}

.ok
{
    height: 50%;
    width: 120%;
    display: flex;
}

.todos
{
    position: relative;
    margin-left: 40%;
    top: 240px;
}

.update
{
    position: relative;
    margin-left: 60%;
    top: 200px;
    margin-bottom: 400px;
}
