{% extends "layout.html" %}

{% block content %}
<form action="/login" method="post" class="d-flex addbox">
    <div class="ok">
        <input autocomplete="off" class="form-control me-2" name="username" id="username" placeholder="Username" aria-label="Username">
        <input autocomplete="off" class="form-control me-2" name="password" id="password" placeholder="Password" aria-label="Password" type="password">
    </div>
    <button class="btn btn-outline-success" type="submit">Login</button>
</form>
{% endblock %}